
<!DOCTYPE html>

<html lang="en">

  <div class="login-wrapper">
    <img class="wave" src="../assets/img/fondo.jpg">


    <div class="content-all">

        <div class="content-carrousel">
            <figure><img src="assets/img/1.png"></figure>
            <figure><img src="assets/img/2.png"></figure>
            <figure><img src="assets/img/3.png"></figure>
            <figure><img src="assets/img/4.png"></figure>
            <figure><img src="assets/img/5.png"></figure>
            <figure><img src="assets/img/1.png"></figure>
            <figure><img src="assets/img/2.png"></figure>
            <figure><img src="assets/img/3.png"></figure>
            <figure><img src="assets/img/4.png"></figure>
            <figure><img src="assets/img/5.png"></figure>
        </div>

    </div>

  <div>
    <button class="button" style="margin-left: 90px;width: 340px; margin-top: 350px;">
      <a href="productos" class="fas fa-box-open" style="text-decoration: none; color: black;">Productos</a>
          </button>
          <button  class="button" value="Registrate" style="margin-left: 90px;width: 350px;">
            <a href="Ventas" class="fas fa-shopping-cart" style="text-decoration: none; color: black;">Ventas</a>
                </button>
                <button  class="button"  value="Registrate" style="margin-left: 90px;width: 350px;">
                  <a href="caja" class="fas fa-cash-register" style="text-decoration: none; color: black;">Caja</a>
                      </button>
                    </div>
    </div>


</html>


